{% extends 'main.html' %} {% block body_block %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <img
        src="{{product.image.url}}"
        alt="Not Available"
        class="img-fluid product-img"
      />
    </div>
    <div class="col-md-6 product_descrpition">
      <h2>{{product.name}}</h2>
      <h3>Amount : Rs {{product.price}}</h3>
      <p>{{product.description }}</p>
    </div>
  </div>
  {% for review in reviews %}
  <div class="card" style="width: 100%">
    <h2>{{review.user.username}}</h2>
    <h3>Ratin : {{review.rating}}</h3>
    <p>{{review.review_text }}</p>
  </div>
  {% endfor %}
</div>
{% endblock %}
